@use "variables" as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  font-family: v.$font-family;
  background-color: v.$background-color; 
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#main {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

#vertical-menu {
  width: 20%;
  min-width: 300px;
  height: 100%;

  background-color: var(--secondary-color);
  border-right: 0.0625rem solid var(--primary-color);
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  font-size: 0.9rem;
  padding: 1.25rem;
  gap: 3.5rem;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 0.25rem;
  }

  &.hide-menu {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
  }
}

#main-container {
  position: relative;
  min-width: 700px;
  width: 80%;
  height: 100vh;
  z-index: 1;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  transition: background-color 0.3s, box-shadow 0.3s, width ease 0.5s;

  &.hide-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
