$font-family: 'IBM Plex Sans', sans-serif;
$chatbot-width: 50%;

$background-color: #f7f7f7;
$text-color: #000000;
$primary-color: #bbbbbb;
$secondary-color: #eaeaea;
$user-message-bg: #a6a6a6;
$bot-message-bg: #e0e0e0;
$svg-color: 0;

:root {
  --background-color: #{$background-color};
  --text-color: #{$text-color};
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --user-message-bg: #{$user-message-bg};
  --bot-message-bg: #{$bot-message-bg};
  --svg-color: #{$svg-color};
}

body.dark-theme {
  --background-color: #181818;
  --text-color: #e0e0e0;
  --primary-color: #444444;
  --secondary-color: #303030;
  --user-message-bg: #505050;
  --bot-message-bg: #424242;
  --svg-color: 1;
}
